/**
 * 颜色变量
 * @author gaochao
 */
/* 默认宽度 开始*/
/**
 * 按钮的样式
 * @param {string} @width  按钮宽度
 * @param {string} @height 按钮高度
 */
/**
 * 图标样式
 * @param {string} width icon宽度
 * @param {string} height icon高度
 * @param {string} margin-right 右外边距
 */
/**
 * 图标箭头样式
 * @param {string} height 箭头方向 t r b l 分别对应 上 右 下 左
 * @param {string} width 宽度
 * @param {string} color 颜色
 */
/**
 * 颜色渐变
 * @param {string} fromColor 颜色 
 * @param {string} toColor 颜色
 */
/**
 * input
 * @param {string} width
 * @param {string} height
 */
/*包含3态的按钮*/
/**
 * 公用函数
 * @author gaochao
 */
/* clearfix less实现 */
/* 雅黑字体 */
/* inline-block */
/**
 * css3动画
 * @param {string} @property 需要动画的属性，默认all
 * @param {string} @duration 持续时间，默认1s
 * @param {string} @timing-function 动画函数，默认ease-in
 */
/**
 * css3动画 旋转
 * @param {string} @deg 旋转角度，默认0deg
 */
/**
 * css3动画 旋转
 * @param {string} @deg 旋转角度，默认0deg
 */
/**
 * css3动画 缩放
 * @param {Number} @x 缩放比例
 * @param {Number} @y 缩放比例
 */
/**
 * 透明度
 * @param {int} @opacity 透明度
 */
/**
 * min-height
 * @param {string} @height 
 */
/**
 * 页面模块下边距,默认为20px
 * .basic-info {
 *   .layout-bottom; 默认值
 *   .layout-bottom(30px); 传入参数
 * }
 */
/**
 * 边框背景设置
 * @param {String} bd-color 边框颜色
 * @param {String} bg-color 背景颜色
 */
/**
 * 字体相关设置
 * @param {String} font-size 大小
 * @param {String} font-weight 粗细
 * @param {String} color 字体颜色
 */
/**
 * 圆角设置
 * @param {String} size 大小
 */
/**
* 背景透明
* @param {Number} red 红色值0-255
* @param {Number} green 红色值0-255
* @param {Number} blue 红色值0-255
* @param {Number} alpha 红色值0-1
*/
/**
 * 阴影效果
 * @param {String} x 水平位移
 * @param {String} y 垂直位置
 * @param {String} r 模糊半径
 * @param {String} c 颜色
 * @param {String} l 阴影尺寸
 */
/**
 * 关闭按钮
 * @param {String} size 大小
 * @param {String} color 颜色
 * @param {String} hoverColor hover颜色
 */
/**
* landing页面输入框等元素高度
* @param {string} height 高度
* @param {string} line-height 行高
*/
/**
* a无text-decoration
*/
.x-a-none {
  text-decoration: none;
}
.x-a-none:hover,
.x-a-none:active {
  text-decoration: none;
}
/**
 * 前缀宏代换
 **/
.contact-feedback {
  /*padding: 0 100px; */
  padding: 0 40px 0 20px;
}
.contact-feedback .f-form {
  margin: 40px 0px;
}
.contact-feedback .form-group {
  margin-bottom: 5px;
}
.contact-feedback .form-group label {
  font-size: 18px;
}
.contact-feedback .form-group .input-control {
  margin-top: 10px;
  font-size: 16px;
}
.contact-feedback .form-group .input-control input {
  width: 100%;
  height: 20px;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 2px;
  color: #494949;
}
.contact-feedback .form-group .input-control input:focus {
  border-color: #ccc;
}
.contact-feedback .form-group .input-control textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 2px;
  color: #494949;
  resize: none;
}
.contact-feedback .form-group .input-control textarea:focus {
  border-color: #ccc;
}
.contact-feedback .form-submit input[type="button"] {
  display: inline-block;
  width: 100px;
  height: 40px;
  padding: 0;
  border: none;
  text-align: center;
  zoom: 1;
  *display: inline;
  -webkit-transition: background-color 0.2s ease-in 0s;
  -moz-transition: background-color 0.2s ease-in 0s;
  -o-transition: background-color 0.2s ease-in 0s;
  transition: background-color 0.2s ease-in 0s;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1em;
  color: #ffffff;
  background-color: #f67f26;
  cursor: pointer;
  /*取消类按钮*/
  /*hover样式*/
  /*不可点击态*/
  font-size: 18px;
}
.contact-feedback .form-submit input[type="button"].versa {
  background-color: #666666;
}
.contact-feedback .form-submit input[type="button"].versa:hover {
  background-color: #5c5c5c;
}
.contact-feedback .form-submit input[type="button"]:hover {
  background-color: #904606;
}
.contact-feedback .form-submit input[type="button"].disable,
.contact-feedback .form-submit input[type="button"].disabled {
  background-color: #888888;
  cursor: default;
}
.contact-feedback .error-msg {
  height: 16px;
  margin: 3px 10px 3px;
  color: #ff2d4b;
}
.contact-feedback .v-hide {
  visibility: hidden;
}
.contact-feedback .feedback-wrap {
  padding: 0;
}
.contact-feedback .feedback-wrap .form-submit {
  margin-left: 0;
  padding-top: 5px;
  background: #fff;
  text-align: center;
}
.contact-feedback .feedback-wrap .form-submit .cancelBtn {
  display: none;
}
.feedback-success {
  margin: 100px auto 0;
  width: 200px;
  text-align: center;
  font-size: 18px;
}
.closeBtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #999999;
}
.closeBtn:hover {
  color: #6D6D6D;
  text-decoration: none;
}
