/**
 * 颜色变量
 * @author gaochao
 */
/* 默认宽度 开始*/
/**
 * 按钮的样式
 * @param {string} @width  按钮宽度
 * @param {string} @height 按钮高度
 */
/**
 * 图标样式
 * @param {string} width icon宽度
 * @param {string} height icon高度
 * @param {string} margin-right 右外边距
 */
/**
 * 图标箭头样式
 * @param {string} height 箭头方向 t r b l 分别对应 上 右 下 左
 * @param {string} width 宽度
 * @param {string} color 颜色
 */
/**
 * 颜色渐变
 * @param {string} fromColor 颜色 
 * @param {string} toColor 颜色
 */
/**
 * input
 * @param {string} width
 * @param {string} height
 */
/*包含3态的按钮*/
/**
 * 公用函数
 * @author gaochao
 */
/* clearfix less实现 */
/* 雅黑字体 */
/* inline-block */
/**
 * css3动画
 * @param {string} @property 需要动画的属性，默认all
 * @param {string} @duration 持续时间，默认1s
 * @param {string} @timing-function 动画函数，默认ease-in
 */
/**
 * css3动画 旋转
 * @param {string} @deg 旋转角度，默认0deg
 */
/**
 * css3动画 旋转
 * @param {string} @deg 旋转角度，默认0deg
 */
/**
 * css3动画 缩放
 * @param {Number} @x 缩放比例
 * @param {Number} @y 缩放比例
 */
/**
 * 透明度
 * @param {int} @opacity 透明度
 */
/**
 * min-height
 * @param {string} @height 
 */
/**
 * 页面模块下边距,默认为20px
 * .basic-info {
 *   .layout-bottom; 默认值
 *   .layout-bottom(30px); 传入参数
 * }
 */
/**
 * 边框背景设置
 * @param {String} bd-color 边框颜色
 * @param {String} bg-color 背景颜色
 */
/**
 * 字体相关设置
 * @param {String} font-size 大小
 * @param {String} font-weight 粗细
 * @param {String} color 字体颜色
 */
/**
 * 圆角设置
 * @param {String} size 大小
 */
/**
* 背景透明
* @param {Number} red 红色值0-255
* @param {Number} green 红色值0-255
* @param {Number} blue 红色值0-255
* @param {Number} alpha 红色值0-1
*/
/**
 * 阴影效果
 * @param {String} x 水平位移
 * @param {String} y 垂直位置
 * @param {String} r 模糊半径
 * @param {String} c 颜色
 * @param {String} l 阴影尺寸
 */
/**
 * 关闭按钮
 * @param {String} size 大小
 * @param {String} color 颜色
 * @param {String} hoverColor hover颜色
 */
/**
* landing页面输入框等元素高度
* @param {string} height 高度
* @param {string} line-height 行高
*/
/**
* a无text-decoration
*/
.x-a-none {
  text-decoration: none;
}
.x-a-none:hover,
.x-a-none:active {
  text-decoration: none;
}
/**
 * 前缀宏代换
 **/
.widget-selectcar-tabs {
  *zoom: 1;
  *overflow: hidden;
  width: 940px;
  margin: 0px auto;
  padding: 10px;
}
.widget-selectcar-tabs:after,
.widget-selectcar-tabs:before {
  display: table;
  content: "";
}
.widget-selectcar-tabs:after {
  clear: both;
}
.widget-selectcar-tabs .tab-con {
  font-size: 22px;
  line-height: 54px;
  text-align: center;
}
.widget-selectcar-tabs .tab-con .tab-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 25%;
  height: 54px;
  background: #ececec;
  float: left;
  color: #999999;
  cursor: pointer;
}
.widget-selectcar-tabs .tab-con .tab-item:hover,
.widget-selectcar-tabs .tab-con .tab-item.select {
  background: #f67f26;
  color: #ffffff;
}
.widget-selectcar-tabs .content-box .car-box {
  border: 1px solid #ececec;
  *zoom: 1;
  *overflow: hidden;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
.widget-selectcar-tabs .content-box .car-box:after,
.widget-selectcar-tabs .content-box .car-box:before {
  display: table;
  content: "";
}
.widget-selectcar-tabs .content-box .car-box:after {
  clear: both;
}
.widget-selectcar-tabs .content-box .car-box .gallery {
  height: 280px;
  width: 550px;
  float: left;
}
.widget-selectcar-tabs .content-box .car-box .detail {
  float: left;
  padding: 40px 40px 0 40px;
  width: 240px;
  cursor: pointer;
}
.widget-selectcar-tabs .content-box .car-box .corner {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  text-align: center;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 0;
  right: 0;
  background: url("/static/bigba/images/select_corner.png") 0 0 no-repeat;
}
.widget-selectcar-tabs .content-box .car-box.select,
.widget-selectcar-tabs .content-box .car-box:hover {
  border: 1px solid #f67f26;
}
.widget-selectcar-tabs .content-box .car-box.select .corner,
.widget-selectcar-tabs .content-box .car-box:hover .corner {
  background-position: 0 -60px;
}
.widget-selectcar-tabs .content-box .tit {
  font-size: 28px;
}
.widget-selectcar-tabs .content-box .price {
  font-size: 24px;
  color: #ee7113;
}
.widget-selectcar-tabs .content-box .tips {
  padding: 4px 0 0;
}
.widget-selectcar-tabs .content-box .desc {
  color: #cccccc;
  font-size: 14px;
  margin: 4px 0 0;
}
.widget-selectcar-tabs .content-box .bdesc {
  font-size: 20px;
  margin: 15px 0;
}
.widget-selectcar-tabs .content-box .blacktips {
  line-height: 30px;
}
.widget-selectcar-tabs .content-box .blacktip {
  font-size: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #999999;
  padding: 0 8px;
  line-height: 20px;
  color: #999999;
}
.widget-selectcar-tabs .divider {
  *zoom: 1;
  *overflow: hidden;
}
.widget-selectcar-tabs .divider:after,
.widget-selectcar-tabs .divider:before {
  display: table;
  content: "";
}
.widget-selectcar-tabs .divider:after {
  clear: both;
}
.widget-selectcar-tabs .fr {
  float: right;
}
.widget-selectcar-tabs .jssort11 {
  position: absolute;
  width: 80px;
  height: 280px;
  font-family: Arial, Helvetica, sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.widget-selectcar-tabs .jssort11 .p {
  position: absolute;
  width: 79px;
  height: 69px;
  background: #fff;
}
.widget-selectcar-tabs .jssort11 .i,
.widget-selectcar-tabs .jssort11 .pav:hover .i {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 70px;
}
.widget-selectcar-tabs * html .jssort11 .i {
  width: 79px;
  height: 69px;
}
.widget-selectcar-tabs .jssort11 .pav .i {
  border: gray 1px solid;
}
.widget-selectcar-tabs .jssort11 .t,
.widget-selectcar-tabs .jssort11 .pav:hover .t {
  position: absolute;
  top: 0px;
  left: 68px;
  width: 129px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fc9835;
  font-size: 13px;
  font-weight: 700;
}
.widget-selectcar-tabs .jssort11 .pav .t,
.widget-selectcar-tabs .jssort11 .p:hover .t {
  color: #fff;
}
.widget-selectcar-tabs .jssort11 .c,
.widget-selectcar-tabs .jssort11 .pav:hover .c {
  position: absolute;
  top: 38px;
  left: 0px;
  width: 197px;
  height: 31px;
  line-height: 31px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  overflow: hidden;
}
.widget-selectcar-tabs .jssort11 .pav .c,
.widget-selectcar-tabs .jssort11 .p:hover .c {
  color: #fc9835;
}
.widget-selectcar-tabs .jssort11 .t,
.widget-selectcar-tabs .jssort11 .c {
  transition: color 2s;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
}
.widget-selectcar-tabs .jssort11 .p:hover .t,
.widget-selectcar-tabs .jssort11 .pav:hover .t,
.widget-selectcar-tabs .jssort11 .p:hover .c,
.widget-selectcar-tabs .jssort11 .pav:hover .c {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}
.widget-selectcar-tabs .jssort11 .p:hover,
.widget-selectcar-tabs .jssort11 .pav:hover {
  background: #f67f26;
}
.widget-selectcar-tabs .jssort11 .pav {
  background: #462300;
}
.widget-selectcar-tabs .jssort11 .p.pdn {
  background: #462300;
}
.widget-selectcar-tabs .slider_con {
  position: relative;
  top: 0px;
  left: 0px;
  width: 540px;
  height: 280px;
  background: #fff;
  overflow: hidden;
}
.widget-selectcar-tabs .slider_con .loading {
  position: absolute;
  display: block;
  background: url(/static/bigba/images/loading.gif) no-repeat center center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.widget-selectcar-tabs .summary-bar {
  background: #ee7113;
  color: #ffffff;
  font-size: 16px;
  padding: 16px;
}
.widget-selectcar-tabs .summary-bar img.select {
  margin: -3px 3px 0 0;
}
.widget-selectcar-tabs .summary-bar .nextbtn {
  background-color: #f8f8f8;
  color: #ee7113;
  border: none;
  padding: 2px 15px;
  float: right;
}
